[2019-02-24 22:57] ericearl opened #1 ""--ignore func" requires a func folder still"
A subject that looks like this:

[code]

Is not accepted with the `--ignore func` option in place because of this error:

[code]

Though the exact same arguments given to a subject with `anat` and `func` folders under their BIDS input folder does not have this problem.

Also, it does not ignore additional functional arguments like `--bandstop` or `--abcd-task`.

[2019-02-24 23:13] ericearl opened #2 "Pipeline located at /pipeline instead of /opt/pipeline"
[code]

The app seems to expect it at /opt/pipeline:

[code]

[2019-02-24 23:19] #2 closed

[2019-02-25 17:16] ericearl opened #3 "No module named numpy"
Error in PreFreeSurfer:

[code]

[2019-02-26 02:27] LiquidPrototype commented on #3
Have you tried pip install numpy?

[2019-02-26 04:20] dasturge commented on #3
fixed by 80611a8

[2019-02-26 04:20] #3 closed

[2019-02-28 18:07] manalilatkar opened #4 "Singularity image"
Hello,
In the README, you mention that you can send a singularity image if asked. We need the singularity recipe for a client at [ICS Penn State](https://ics.psu.edu). Would it be possible for you to help us with that?
Thank you.

[2019-03-02 00:45] dasturge commented on #4
Hello, we are currently tidying up the README.md, the changes can be found in this commit: 5d3fa0a

If you already have Singularity installed, one of these options should work for you to acquire the image from the online repository:
[code]

Let me know if this solves your issue.

[2019-03-03 00:32] ericearl opened #5 "TypeError in reading self.bids_data['func_metadata']['PhaseEncodingDirection']"
The error is:

[code]

The `"PhaseEncodingDirection":` in each case in each `func` sidecar JSON is `"j"`.

I'm guessing from this the error is here:

https://github.com/DCAN-Labs/abcd-hcp-pipeline/blob/develop/app/helpers.py#L245

[2019-03-03 00:34] ericearl commented on #5
Oh, and FYI, this is being tested with a docker built version of the develop branch on Rushmore with the "ANATFUNC" subject per your suggestion.

[2019-03-03 00:48] dasturge commented on #5
addressed by 4f49aaf on develop

[2019-03-03 00:48] #5 closed

[2019-03-07 22:53] dasturge commented on #4
documentation on the singularity build is now included.

[2019-03-07 22:53] #4 closed

[2019-03-07 23:00] dasturge commented on #1
develop: no longer crashes during setup, however crashes at Executive Summary when no func folder exists.

[2019-03-08 17:28] ericearl commented on #1
The actual ExecutiveSummary error is that the `func` folder is being passed as the `unproc_root` to the `executivesummary_wrapper.sh`.  Passing the `anat` folder every time instead would fix this.

[code]

[2019-03-08 20:36] dasturge opened #7 "Singularity incompatibility"
Singularity containers cannot have writable contents. The freesurfer license file will need to be accepted in another manner, by setting the FS_LICENSE environment variable.

[2019-04-04 16:43] kathy-snider opened #9 "When missing expected files, does not err out."
Change line 439 of pipelines.py from:
if self.ignore_expected_outputs:
to
if _not_ self.ignore_expected_outputs:

[2019-04-10 21:30] dasturge opened #10 "Error Reporting: No BIDS input"
The pipeline throws an unhelpful python index error when the input BIDS dataset is not found, we should develop good error reporting for basic possible missing files from the input structure, or when no input BIDS is identified at all.

[2019-04-10 21:31] dasturge commented on #10
example:

[code]

[2019-04-14 07:00] #7 closed

[2019-04-25 21:24] ericearl opened #11 "Add a visual walkthrough to the documentation"
Proposal to make a visual walkthrough, showing inputs, input folder structure, commands to construct each of these, pulling and executing the image, and how to access visuals of the major output files and qc images.  This could ideally be included in readthedocs.

[2019-05-03 23:49] dasturge opened #12 "handle more possible DFM configurations"
currently the develop branch only supports a pair of magnitude images and a phasediff image. The only metadata it needs is the difference in Echo Times for the two images. That metadata should ideally come from any possible source.

[2019-05-08 17:30] dasturge opened #13 "Dockerfile update"
artful aardvark is no longer supported, so we probably want to swap over to the newer Ubuntu 18.04 LTS.

Here are some of the changes we needed to make to base libraries to handle everything:
- install perl 5.20.3
- install libnetcf
- fix libz so
- fix libstdc++6 so

perl has to do with freesurfer issues, but I don't recall where the other libraries were causing hiccups.

[2019-05-09 18:13] dasturge opened #14 "implement conditional_expected_outputs"
implement checking for outputs which depend on input parameters to the script

[2019-05-09 18:14] dasturge opened #15 "accept physio data in bids format"
bids format physio data is very simple to read, we just need some logic for calculating proper bandstop parameters from a physio file.

[2019-05-09 18:16] dasturge opened #16 "bug: error comments persist during reprocessing"
error comments in the status.json files persist after successful reprocessing has occurred and the status is positive.  This is confusing.

[2019-05-19 21:50] uriartel opened #17 "bug: BIDS App expects AcquisitionMatrixPE metadata in get_realdwelltime function, even in the absence of fieldmaps"
A bug was found that is preventing the BIDS app to run on the ABIDE dataset. The information in the json files for the ABIDE data is different than that of the ABCD dataset. The ABIDE json files are organized using "AcquisitionMatrix" where as the ABCD json files uses "AcquisitionMatrixPE".

Example for ABIDE
"AcquisitionMatrix": "80x64",

Example for ABCD
"AcquisitionMatrixPE": 90,

Due to this d

[2019-05-19 22:14] ericearl commented on #17
@uriartel Can you please paste just the Python traceback from your error log that had the relevant lines in helpers.py, etc.?

[2019-05-20 18:14] dasturge commented on #17
There are two fixes for this.  Firstly, we can change the logic in the ParameterSettings class to only check for this metadata in the presence of FieldMaps.  The second, is to write flexible logic to read the nPE steps from either of these json fields.  We should do both.

[2019-05-21 15:35] uriartel commented on #17
/home/exacloud/lustre1/fnl_lab/data/HCP/logs/ABIDE_BIDS/BIDS_ABIDEI/NYU/sub-0050952

here is the path to the .err and .out files.

Traceback (most recent call last):
  File "/app/run.py", line 364, in <module>
    _cli()
  File "/app/run.py", line 67, in _cli
    return interface(**kwargs)
  File "/app/run.py", line 263, in interface
    session_spec = ParameterSettings(session, out_dir)
  File "/

[2019-05-24 20:52] dasturge opened #18 "Allow for lack of ImageOrientationPatientDICOM"
ImageOrientationPatientDICOM and InPlanePhaseEncodingDirectionDICOM are used in conjunction to get the readout direction of a subject.

These are probably exclusively put in by dcm2bids, and we should allow for two cases:

one, change the logic in the pipeline so these fields are only used when a fieldmap is present.
two, allow for an explicit readout direction input, as in the original HCP bids a

[2019-07-01 17:34] uriartel opened #19 "DCANBOLD processing display task-res instead of task-rest in output folder"
I ran the ABIDE BIDS data through the BIDS app and noticed errors in the functional data.

Concatenating task-rest1 to `../../ses-None/files/MNINonLinear/Results/task-res_DCANBOLDProc_v4.0.0_Atlas.dtseries.nii`

[code]

[2019-07-01 21:33] ericearl commented on #19
Thanks @uriartel!  We are inspecting this issue now and think it may be related to the expectation on BIDS input data to have been converted by Dcm2Bids and have the run numbers labeled as two-digit numbers.  Either way, this is a problem and we need to find a good solution.

[2019-09-02 17:53] #1 closed

[2019-09-05 19:54] dnkennedy opened #22 "pipeline operation requires 'session' to be defined"
I was trying to run the pipeline on a 'valid' BIDS case that did not have session explicitly set (created using dcm2bids w/o the "-s" option).

I was getting the following error:
Traceback (most recent call last):
  File "/app/run.py", line 309, in <module>
    _cli()
  File "/app/run.py", line 65, in _cli
    return interface(**kwargs)
  File "/app/run.py", line 221, in interface
    for session

[2019-09-29 21:48] DavidEWarrenPhD opened #23 "Include Dockerfile generator script for neurodocker in repo"
The included Dockerfile appears to be generated using neurodocker, but a script containing the neurodocker call is not included in this repo.  Including the neurodocker generator script would be convenient and would enhance reproducibility.  Example at https://github.com/kaczmarj/neurodocker/blob/master/examples/conda_python/generate.sh.

[2019-10-10 21:43] ericearl commented on #23
@DavidEWarrenPhD Thanks for pointing this out!  We should remove most of that from the Dockerfile and credit kaczmarj for what came from their neurodocker.  What happened was we used kaczmarj's neurodocker from DockerHub for the original first base Dockerfile build and just never deleted all the comments after we had basically rewiritten the whole Dockerfile.  Regardless, I will leave this issue o

[2020-04-06 18:50] MartinBa9210 opened #25 "Access rights from Docker output"
Thanks for providing this great pipeline, works fine for me!

One comment, as it drives me nuts the first time, is accessing the Docker output on Linux machines. It turned out, that within Docker it run as root, but you might not be root any longer when you access your data.

To be sure about the correct rights put the flag --user "$(id -u):$(id -g)" to the docker options

so its:

docker run --rm

[2020-04-13 14:35] ericearl commented on #25
This is a great observation, @MartinBa9210 , thanks!  I will include this in the next revision.

[2020-04-20 13:05] ericearl opened #26 "Support single-band reference inputs"
Using an "SB Ref" is supported within the HCP pipelines and should only require some light modification to include it as an input.

[2020-05-06 13:19] MartinBa9210 opened #27 "Error in DCANBOLDProcessing"
Dear DCAN-staff,
unfortunately I ran into an error at the BOLD processing stage of the pipeline. From here I can’t tell what this is about so I just copied the content of DCANBOLDProcessing_teardown.err

Subscript indices must either be real positive integers or logicals.

Error in sorter (line 11)

Error in analyses_v2 (line 27)

MATLAB:badsubscript
Subscript indices must either be real positive

[2020-05-06 15:35] ericearl commented on #27
@MartinBa9210 , What were the labels in your BIDS functional `task-<label>` runs and how were they numbered?  I have seen something like this before, but I'm not certain what triggers it.

[2020-05-06 15:46] MartinBa9210 commented on #27
Hey Eric,
the naming was the following

sub-#ID_ses-1_task-RestingState_run-1_bold
sub-#ID_ses-1_task-RestingState_run-2_bold
sub-#ID_ses-1_task-FearTask_run-1_bold
sub-#ID_ses-1_task-FoodTask_run-1_bold

same naming was used in the .json side car.

Best,
Martin

[2020-05-06 16:02] ericearl commented on #27
Thanks, @MartinBa9210 .  Is that the input data naming or is that the names as they appear in the `.../files/MNINonLinear/Results/` folder?  I am very curious the names you have in that deeper processed data folder for those 4 task runs.

@perronea and @kathy-snider can we meet to speculate what might be going on here before Friday this week?  Hit me up on Slack, please.

[2020-05-06 18:39] MartinBa9210 commented on #27
Sorry, that's the naming of the input.

MNINonLinear is:
task-RestingState1
task-RestingState2
task-FearTask1
task-FoodTask1

thanks for the quick response!

Best,
Martin

[2020-05-06 18:58] perronea commented on #27
@MartinBa9210 Can you email us (perronea@ohsu.edu and earl@ohsu.edu) the jsons located in ".../files/DCANBOLDProc_v4.0.0/analyses_v2/matlab_code" and include an `ls` of ".../files/MNINonLinear/Results". Please remove any subject ids if necessary. Thank you.

[2020-05-06 19:03] MartinBa9210 commented on #27
Sure, I'll do that tomorrow... already left work.

Best,
Martin

[2020-07-03 10:03] tundejunaid opened #28 "Error in Processing"
The error i got while processing my data is in BIDS format @ericearl
Traceback (most recent call last):
  File "/app/run.py", line 364, in <module>
    _cli()
  File "/app/run.py", line 67, in _cli
    return interface(**kwargs)
  File "/app/run.py", line 263, in interface
    session_spec = ParameterSettings(session, out_dir)
  File "/app/pipelines.py", line 106, in __init__
    self.bids_data['t

[2020-07-06 15:31] ericearl commented on #28
@tundejunaid Is there a `"PixelBandwidth"` field in your BIDS sidecar JSON for your T1 data?  Also, what do you mean by "session not properly assigned in the BIDS data format"?  Also, what scanner manufacturer is this data from?  I hope I can help.

[2020-07-06 15:44] tundejunaid commented on #28
I found out there was none and there are some other parameters not found like InPlanePhaseDirection and ParallelReductionPlane. And they seem really important for the structural analysis. I am using A Philipps scanner and I have no field map image. I am using this for my master thesis and any help or information would be appreciated.

[2020-07-06 16:04] ericearl commented on #28
@tundejunaid I would talk to whoever is closest to the MRI acquisition data and ask them for whatever the Philips equivalent of a Siemens "protocol PDF" is for acquisition timing parameters and the like.  You will likely need a few of those fields inserted into your BIDS sidecar JSONs for processing.  If you determine these fields unnecessary for your processing needs, then we can consider making

[2020-07-07 13:07] tundejunaid commented on #28
All is working fine, I think the problem was the first dataset I tried it with. the conversion to BIDS was not from the DICOM but from a REC File. When I tried with another Data converted From DICOM it was all good

[2020-07-07 13:07] #28 closed

[2020-09-03 22:00] ericfeczko opened #29 "provide an option to run filemapper at the end"
It would be great if the pipeline could include an option to run filemapper after it finishes. Not sure how feasible that would be to pull off.

[2020-09-04 19:24] ericearl commented on #29
@kathy-snider Didn't we think of a solution for this and just never implemented it?

[2020-09-04 19:28] ericfeczko commented on #29
That would be fantastic if we could implement! I would use the ABCD defaults if it makes it easier -- this allows collaborators already leveraging ABCD protocols to use the pipeline to go fully to BIDS derivatives. I recently found out that this is a chief complaint for some collaborators, so perhaps low effort for huge benefit.

[2020-09-04 20:06] kathy-snider commented on #29
Somehow I didn't get the whole conversation. You just want filemapper to be another stage, right? Like custom-clean, it would run if we gave it a .json file? We can do that.

It's just one of many things I would like to do, but I spend all of my time processing BCP!!! I'll put it on my Trello, but don't hold your breath.

________________________________
From: ericfeczko <notifications@github.com>

[2020-11-10 13:48] traceyshi opened #30 "Pipeline tries to apply DWI fieldmaps to functional runs"
Pipeline by default tries to apply DWI fieldmaps to functional data, causing FMRIVolume to throw dimension mismatch errors. I tried adding intendedfor sidecars to the .json for the functional fieldmaps, but this didn’t fix the problem.

For reference, deleting/moving the DWI fieldmaps from the rawdata/fmap directory seems to avoid this error (but ideally would be great to not have to do this).

Th

[2020-11-10 22:11] ericearl commented on #30
@perronea I think we should make the "intended for" collection be the only thing that lets field maps get selected.  And warn the user if they are processing functional data without a field map.  What do you think?

[2021-04-16 15:42] juansanchezpena opened #31 "multiple sessions"
I am trying to pre-process a single subject with two sessions. The first session has anat, func and fmaps, the second has func and fmaps. The fmaps and func at ses-1 and ses-2 are the exact same series. I have been unable to run the abcd-hcp preprocessing pipelines on both sessions. I think it has to do with the syntax of the func names but am unsure. I tried -all-sessions and it did not work eith

[2021-04-28 20:23] hough129 opened #32 "processing with phase/magnitude fmaps only"
Errors I'm getting when I'm trying to run the pipeline with only 'magnitude1', 'magnitude2', 'phase1', and 'phase2' fieldmaps (I do not have epi fieldmaps I can use):
[code]

**This was noted while debugging that might help (ignore if they is not helpful):**

`helpers.py line 189`: there needs to be cases added for magnitude/phase here

[2021-05-01 14:05] mriedel56 opened #33 "freesurfer output"
Is it possible to make the direct freesurfer output available for the ABCD data? Ive checked out the filemapper and it looks like those files are just skipped over (presumably bc they are intermediary for final output files). Is space an issue for that?

[2021-05-03 14:43] arueter1 commented on #33
Thanks for the question! Someone from our team will check in on this as soon as we are able.

[2021-05-03 14:55] ericfeczko commented on #33
Hi mriedel56!
Unfortunately, the output from the intermediate Freesurfer stage (see here for further information: https://collection3165.readthedocs.io/en/stable/pipeline/#stage-2-freesurfer ) remains quite large (~ 612 MB per subject, ~6 TB total ~ approximately 10 percent of the size of current derivatives), and is not available right now.

However, the anat derivative folder contains the midthi

[2021-05-04 21:29] arueter1 commented on #31
Hi There! Could we get some more information from you? Could you give us the error you got in the pipeline (without giving any subIDs)? One thing that can happen is having multiple run1 (e.g. run1_pa and run1_ap) will need to be renamed to be consecutive.

[2021-05-04 21:32] arueter1 commented on #30
The next version of the pipeline that will be released will have this issue resolved.

[2021-05-07 12:51] mriedel56 commented on #33
Thanks for the response, I figured that space had something to do with it. We were potentially interested in running fMRIPREP on the BIDS dataset (just what we use and are more familiar with in our lab). Having freesurfer previously run would have expedited the process, but I think fMRIPREP prefers a newer version of freesurfer. As it stands, the hcp derivatives work perfectly fine for our needs.

[2021-05-07 12:51] #33 closed

[2021-05-08 11:18] mriedel56 opened #34 "Time-series ready for correlation?"
We are interested in calculating a dense connectome similar to the HCP. I know those files are quite large, so I imagine thats why they were not shared, but I was wondering if I can calculate it directly from the following file type:
sub-#/ses-#/func/sub-#_ses-#_task-(MID|nback|SST|rest)_bold_desc-filtered_timeseries.dtseries.nii

That is, have these been sufficiently processed to the point that t

[2021-05-08 11:29] mriedel56 opened #35 "Files not available for download"
Sorry if this is the wrong place for this comment. We are downloading files from Collection 3165 - DCAN Labs ABCD-BIDS, and we have alot of instances of files that do not download (for example, event timing files, or ABCD-HCP processed MNI bold images); we also have alot of participants that completely download as expected. I dont think its an issue with the downloader, and I imagine the participa

[2021-05-10 13:55] arueter1 commented on #35
Thanks for reaching out! We will get back to you about this soon.

[2021-05-10 14:10] arueter1 commented on #34
Thanks for reaching out! We will get back to you about this question soon.

[2021-05-11 20:07] mriedel56 commented on #35
Thanks for the response! I created a sort of "pseudo-manifest" that contains the missing information/links based on examples in the original. For example, if one participant was missing the *space-MNI_bold.nii.gz derivative, but had the motion.tsv files, I would recreate a line in the manifest using the same dataset ID/collection/manifest/etc. with the appropriate S3 link, but it returned an error

[2021-05-11 20:16] mriedel56 commented on #34
Thanks for the information. Any recommendation on algorithm for signal outlier detection? I think the only one Im familiar with is based in AFNI, and I dont know if it will work on vertex data.

Thanks for the references to calculate dense connectomes! I'll check those out, maybe it will resolve my question above.

[2021-05-14 14:58] #34 closed

[2021-06-09 15:45] tjhendrickson opened #36 "Adding session flag"
Hello, for longitudinal study designs it would be helpful of the abcd-hcp-pipeline allowed the user to specify a participant ("sub-") and session ("ses-") label.

[2021-06-15 21:05] arueter1 commented on #36
This issue will be put into the wrapper instead of the pipeline itself.

[2021-06-15 21:12] #36 closed

[2021-06-30 23:10] perronea commented on #31
@juansanchezpena The pipeline does not automatically use the anats from one session for another session if they do not exist for that other session. This is a unique use case that is not usually recommended. You will need to copy the anat from ses-1 to an anat directory in ses-2 and process them separately.

[2021-06-30 23:10] #31 closed

[2021-06-30 23:26] perronea commented on #35
@mriedel56 it looks like that data is indeed missing. We've had some issues with the NDA upload process that we are currently working on resolving with them. Thank you for bringing this to our attention. I'm going to close the issue here and open a new one on the nda-abcd-s3-downloader (https://github.com/DCAN-Labs/nda-abcd-s3-downloader/issues/24)

[2021-06-30 23:26] #35 closed

[2021-07-02 16:54] juansanchezpena commented on #31
Thank you Anders

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Anders Perrone ***@***.***>
Sent: Wednesday, June 30, 2021 7:11:09 PM
To: DCAN-Labs/abcd-hcp-pipeline ***@***.***>
Cc: Sanchez, Juan (NYSPI) ***@***.***>; Mention ***@***.***>
Subject: Re: [DCAN-Labs/abcd-hcp-pipeline] multiple sessions (#31)

ATTENTION: This email came from an external source. Do n

[2021-07-06 19:18] madisoth commented on #32
A dataset I'm working on has magnitude1/magnitude2/phasediff (no phase1/phase2)-- if support for that combination can be added also, that would be a really huge help.

[2021-07-06 19:26] hough129 commented on #32
@madisoth phasediff is the difference between phase2 and phase1, right? Wouldn't that file have been created from phase1 and phase2 files to begin with? Or is phasediff acquired directly?

[2021-07-06 19:52] madisoth commented on #32
I believe so, but this dataset doesn't include the original phase1/phase2, only phasediff.

[2021-07-06 20:44] hough129 commented on #32
@madisoth okay! @perronea and I have a time set up to look into adding phasediff capabilities in as well.

[2021-08-06 21:21] madisoth commented on #27
This is a 15-month bump, but the source of the error in the original post is likely due to the two-digit run index assumption noted in this issue on the dcan_bold_processing repo: https://github.com/DCAN-Labs/dcan_bold_processing/issues/5

PR #39 updates the handling of session/task labels and run indices by both helpers.py and dcan_bold_processing, which is likely to resolve this issue.

[2021-08-06 21:27] madisoth commented on #19
PR #39 updates the handling of session/task labels and run indices by both helpers.py and dcan_bold_processing, which is likely to resolve this issue.

[2021-08-09 19:18] MartinBa9210 commented on #27
Alright, thank you for checking this! I’ll check that asap on my side.

If it works, 15 months wasn’t the problem, we’re still acquiring data and its easy to just do the last step.

Anyway, to my understanding the indices I’m using are in line with the guidelines of BIDS, right?!

Best,
Martin

[2021-08-11 15:49] hough129 commented on #27
@MartinBa9210 I believe you are right with your indices technically being within the BIDS guidelines. This is one of those things that is specific to our pipeline.

[2021-08-13 20:28] kathy-snider commented on #27
I believe this issue has been fixed with the latest version of dcan_bold_processing (v4.0.7). So pipelines that include that version should no longer have the problem. I tested this belief with the infant pipeline and it correctly processed runs with run_1 - run_12 (i.e., both 1 and 2 digit run numbers in the same session) with no problems.

[2021-08-17 16:04] arueter1 commented on #27
Thanks Kathy!

Amanda

On Fri, Aug 13, 2021 at 3:29 PM Kathy ***@***.***> wrote:

--
*Amanda Rueter, PhD*
Research Project Specialist
pronouns
<https://www.d.umn.edu/sexuality-gender-equity-initiatives/education-advocacy/pronouns>:
she / her / hers
DCAN Lab
<https://innovation.umn.edu/developmental-cognition-and-neuroimaging-lab/#:~:text=Welcome%20to%20the%20DCAN%20labs,development%20in%20health%2

[2021-08-17 16:04] #27 closed

[2021-09-03 20:06] audreymhoughton opened #40 "Fails without fieldmaps when DWI files are present"
I am able to process data that doesn't have fieldmaps if no DWI data is present. If DWI data is present and there are no fieldmaps, it fails looking for fmap metadata.

Note: --ignore dwi did not solve this problem

[2021-09-13 14:28] fmriuser opened #41 "DCAN BOLD Processing Derivatives for Seed-Based Analysis"
Hello,

I have preprocessed pediatric resting state data using the DCAN pipeline. I am looking to take the BOLD functional image for each subject and upload them into CONN toolbox to conduct a seed-based analysis.

My questions are:
1. Which derivative of the DCAN preprocessing is the BOLD functional file for each subject?
2. Would you recommend any other processing steps before first-level proces

[2021-09-14 22:07] audreymhoughton opened #43 "Fails for anat only data when --ignore func flag isn't specified"
If you have data that contains some subjects with functional data and some without, you cannot submit one run command for the pipeline. You have submit one command for the subjects with functional data and one for the subjects without that includes the `--ignore func` flag.

If the pipeline could check what is in the subject directory and default to` --ignore func` for subjects without functional

[2021-09-23 15:12] ericfeczko commented on #41
Hi Mariam!

My sincerest apologies for the late response!

1) The `sub-#/ses-#/func/sub-#_ses-#_task-(MID|nback|SST|rest)_run-#_space-MNI_bold.nii.gz` files in the `func` derivatives directory are motion-corrected and minimally pre-processed volumes registered to the MNI space (registration is done via a single resampling).

2) They have not undergone any connectivity pre-processing nor spatial sm

[2021-09-24 19:23] dpagliaccio opened #45 "FreeSurfer version"
Is it possible to run the abcd-hcp-pipeline using the newest version of FreeSurfer?

[2021-09-27 13:29] fmriuser commented on #41
Hello,

Thank you so much for your detailed response!

I am having trouble locating the files. This is how my directory looks, and I do not see a file with the same labels. Do you happen to have any insight as to why this might be?

<img width="912" alt="Screen Shot 2021-09-27 at 9 27 45 AM" src="https://user-images.githubusercontent.com/81822227/134917790-dd48e99f-3e47-4782-b299-514c2fd782b9.png"

[2021-09-27 13:50] ericfeczko commented on #41
My apologies, I completely misunderstood the question -- I realize now you're asking about the pipelines outputs directly (thanks for the example!).

The output of the docker image is, unfortunately, not in a BIDS derivative format*. In that current format, it depends on how you want to do the analysis. The *final* output is actually under MNINonLinear/Results. In that folder there is an atlas dts

[2021-09-28 16:54] fmriuser commented on #41
Hello,

Thank you for all the information. Having a seed map analyses stream for the CIFTIs would be great. If that is available for use, I would very much appreciate it!

Best,
Mariam

[2021-09-30 19:56] arueter1 commented on #45
Hi David,

Great question! At this point in time the abcd-hcp-pipeline does not run with the newest version of FreeSurfer. In the next few months there will be a 2nd version that is incorporated with fmriprep that will be able to use the newest version of FreeSurfer. I would suggest "watching" this repo to ensure that you are alerted to any new versions. If you have any further questions, please d

[2021-09-30 19:56] #45 closed

[2021-10-05 14:51] fmriuser commented on #41
Hello,

I was wondering if there is an update on the availability of this seed map analysis pipeline?

Also, I would like some clarification as to which specific file outputs from the filemapper I would be able to pull into CONN for smoothing/band pass filtering and denoising.

Is that this file?
<img width="1140" alt="Screen Shot 2021-10-05 at 10 51 04 AM" src="https://user-images.githubuserconte

[2021-10-14 20:53] tjhendrickson opened #46 "Exact Container Call and Version for ABCC BIDS Derivatives"
I'm sorry I know I asked this a while ago, but I think I forgot to save it. What was the exact call and container version for the abcd-hcp-pipeline when processing the ABCC BIDS derivatives? A colleague is looking to replicate results.

Additionally, if you have the configuration file used for DCANBoldPreProc that would be helpful!

[2021-10-16 17:54] iamdamion opened #47 "How should multiple sessions be handled?"
Question: I have been testing the pipeline using a single subject and single session. However, our collections are longitudinal and we preprocess as scans come in. I see that there's an argument to process all sessions for a subject as one. However, the help doesn't show an argument to specify a single session and it's unclear how multiple sessions are handled if they are slowly being added.

If o

[2021-10-19 16:30] arueter1 commented on #47
Hi Damion! Thanks for the question. I've assigned @ericfeczko and @hough129 to this and they will get back to you as soon as they are able. Please note that we are experience a very high volume of collaborator requests at this point in time, so we are experiencing some delays in getting back to folks. Thanks in advance for your patience!

[2021-10-19 23:01] madisoth commented on #47
Hi Damion,

I am not set up to test this right now, but I believe --participant-label can actually accept either:

(1) a list of subject IDs, or
(2) a Python dictionary with subject IDs as the keys, and session ID lists as the values

In case (1) I believe all sessions for the subject(s) would be reprocessed. In (2) only the specified subject-session pair(s) should be processed.

I am in total agr

[2021-10-20 17:37] iamdamion commented on #47
@madisoth Looks like @ericearl and I are going to take a stab at this on friday. We'll update here if we get a PR ready.

[2021-10-25 23:25] madisoth opened #50 "Refactor Dockerfile to be consistent w/ nhp-abcd-bids-pipeline, infant-abcd-bids-pipeline"
After merge of https://github.com/DCAN-Labs/abcd-hcp-pipeline/pull/39 , we should be able to refactor the Dockerfile and use the same "layered" build approach as nhp-abcd-bids-pipeline and infant-abcd-bids-pipeline:

top layer: DCAN-HCP + BIDS wrapper + python
mid layer: DCAN internal-tools (dcan_bold_proc, executivesummary, customclean etc.)
bottom layer: external-software (Ubuntu, FSL, FreeSurfe

[2021-11-14 23:50] richardbeare opened #51 "Query - enback eprime files"
Hi,
I'm returning to abcd-hcp-pipeline after a long break, so I'm probably out of date. I have new data acquired using protocols derived from ABCD. The emotional nback used, as far as I know, the eprime implementation used in the ABCD study conducted at the same site. Are there established procedures for importing eprime to bids and processing with the pipeline?

Thanks

[2021-11-15 23:41] richardbeare opened #52 "Error in executive summary"
Hi,
I have the following error:

logs/ExecutiveSummary/ExecutiveSummary.err

[code]

Tail of the .out:

[code]

[2021-11-17 20:24] arueter1 commented on #47
I believe the pull request went through. I am going to close this out. Feel free to open it again if necessary!

[2021-11-17 20:24] #47 closed

[2021-11-18 19:58] dpagliaccio opened #53 "Recommendation for QC of distortion correction?"
Hello
I was just wondering if you had or could recommend a method for checking the quality/success of the bold distortion correction step? This does not appear to be shown in the executive summary QC as it is for fMRIprep - are there other files or output that would be useful to look at?
Thanks!

[2021-11-19 20:07] madisoth commented on #52
Hi,

From those errors my best guess is that your error is related to this issue: https://github.com/DCAN-Labs/dcan_bold_processing/issues/5

The main issue is that the pipeline needs the run index suffix in filenames to have exactly two digits, (e.g. "task-rest01" or BIDS-style "task-rest_run-01", but not "task-enback101")

It should be addressed by https://github.com/DCAN-Labs/abcd-hcp-pipeline/

[2021-11-22 14:55] arueter1 commented on #53
Hi @dpagliaccio - Thanks for the question! We will get back to you as soon as we are able. I am not sure if this is helpful to get started, but you can read more about the collection at this link: https://collection3165.readthedocs.io/en/stable/

[2021-11-23 21:41] ericfeczko commented on #41
Hi Mariam,

My apologies for the very late reply

1.  The seed map code is available privately, but I was hoping we could have it moved to public. If you can email me at feczk001@umn.edu I can provide access and some documentation.

2. T1 and motion regressor are perfect, You'll want to grab the file task-rest01.nii.gz file from MNINonLinear/Results/task-rest01 subfolder as well -- hope this helps

[2021-11-23 21:41] #41 closed

[2021-11-23 21:44] ericfeczko commented on #53
Hi David!

We do not provide an output for checking the degree of distortion in the executive summary QC by overlaying the two bold images (distorted and undistorted as in fmriprep). I've personally found it more helpful to simply examine the T1/bold alignment to make sure that the rigid-body registration was successful -- if not, 99 percent of the time the distortion correction is causing problem

[2021-11-23 21:44] #53 closed

[2021-11-24 04:21] richardbeare commented on #52
Hi,
I've been doing further testing and continue to run into problems. I tweaked the bids configuration so that files are named:

[code]

so no numbers in the end of the task name.

Tail of the .out is:

[code]

I haven't checked yet whether `enback` is hard coded somewhere. I haven't tested with the new versions mentioned above. This was a clean run after rerunning bids conversion to create new n

[2021-11-24 14:58] ericfeczko commented on #52
Hey Richard!

When you named the tasks "enbacka" and "enbackb" the BIDS app recognized those as different tasks as opposed to the same task but different sessions.

As @madisoth  mentioned above, I think filename needs _**exactly**_ two digits in order to run properly. So I think you should rename them to this:

`sub-rpb21jdr00005_ses-01_task-enback_run-01_bold.json
sub-rpb21jdr00005_ses-01_task-e

[2021-11-24 21:11] richardbeare commented on #52
Thanks - a couple of updates.

First - running as above with this container https://hub.docker.com/repository/docker/madisoth/abcd-hcp-pipeline (tag 10222021a) does work.

Second, the resting state seems to pass in the form above? And it has no digits, with the pipeline introducing its own. Is there a reason why the non resting state bold needs to be constructed of separate runs? What if there are

[2021-11-30 16:39] ericfeczko commented on #46
Sorry, I forgot to answer this until now!

0.03 for the docker container and 2.0.0 for the code base itself.

I can't put an exact usage, since I don't remember the bandstop we used. @perronea can you provide an example with the correct band stop filter numbers? Thanks!

[2021-11-30 19:28] tjhendrickson commented on #46
Here is an example usage with docker as it was run to generate ABCC outputs.

sudo /opt/acc/sbin/exadocker run --name=`basename ${TempSubjectDir}` --rm -v ${TempSubjectDir}/BIDS_unprocessed:/bids_input:ro -v ${TempSubjectDir}/BIDS_processed:/output -v ${TempSubjectDir}/cleaning.json:/cleaning.json -v ${TempSubjectDir}/license.txt:/opt/freesurfer/license.txt dcanlabs/abcd-hcp-pipeline:dev /bids_inp

[2021-11-30 19:28] #46 closed

[2021-12-14 23:13] iamdamion opened #55 "Analyses_v2 timecourses overwriting output csv (I believe)"
I am using the most recent docker image from dcanumn/abcd-hcp-pipeline on docker hub. All seems to be working well in general, but I do see some weird behavior in the timecourses that are generated. This is not a pressing issue at all, but maybe something to look into.

What happened is we have two tasks and rest that we collected. There is onyl one csv per parcellation and the automatically creat

[2021-12-16 18:38] arueter1 commented on #51
Hi @richardbeare - apologies for the long delay, our lab is slammed right now. I am asking @ericfeczko if he has any insights into this. We will get back to you as soon as we are able. Thanks for your patience!

[2021-12-16 18:45] arueter1 commented on #52
@ericfeczko @madisoth do you have any answers for @richardbeare's question above?

[2021-12-16 18:52] arueter1 commented on #55
Thanks @iamdamion for bringing this up! Something definitely seems off. I've assigned this to a few folks from our team to check out. We'll get back to you as soon as we are able. Thanks for letting us know that this isn't a pressing issue.

[2021-12-16 19:40] iamdamion commented on #55
I looked into the logs more. It looks to be happening during the DCAN Bold proc step at the end. And it looks like my idea above is what's happening: It's looping over the tasks, but not including the task name in the csv file paths, so it's just re-writing over and over. Hope that helps a little. :)

[2021-12-21 21:43] madisoth commented on #52
In the 10222021a build and v0.1.0 release, the pipeline should no longer add those digits (please correct if I'm mistaken).

I believe in the past, it was done at least in part to accommodate the dcan_bold_processing "two-digit ending" assumption mentioned above ([https://github.com/DCAN-Labs/dcan_bold_processing/issues/5]()), and how it names the per-task concatenated timeseries output by strippi

[2021-12-21 21:52] arueter1 commented on #52
@richardbeare I am goin to close this item as I think it is resolved, but please do feel free to reopen it if our responses aren't sufficient. Thank you!

[2021-12-21 21:52] #52 closed

[2021-12-27 18:49] juansanchezpena opened #56 "version 0.1.0 question"
Dear ABCD developers,
I am testing the newest version of abcd using the session flag. Two questions:
1. If there are two sessions is the first one processed before the second by default?
2. Is there anywhere in the logs or the summary that confirms pipeline version?
Juan

[2022-01-03 17:21] ericearl commented on #56
@juansanchezpena I'll try to answer that, but no guarantees I'm 100% right here...

1. I think so, but not sure.  Does it matter as long as they are processed?  They should be processed independently, not reliant on each other for data or processing.
2. Your `docker run` call should use the docker "tag" of the version you want.  Using no docker tag will always give you the `latest`, which may chan

[2022-01-03 17:54] juansanchezpena commented on #56
Thanks Eric
I was curious if the version was found somewhere specifically in the output files (i.e. executive summary etc) but I haven’t been able to find it
J

From: Eric Earl ***@***.***>
Date: Monday, January 3, 2022 at 12:21 PM
To: DCAN-Labs/abcd-hcp-pipeline ***@***.***>
Cc: Sanchez, Juan (NYSPI) ***@***.***>, Mention ***@***.***>
Subject: Re: [DCAN-Labs/abcd-hcp-pipeline] version 0.1.0 quest

[2022-01-07 23:19] madisoth commented on #50
Addressed by #57; this issue can be closed upon merge.

[2022-01-11 19:35] #51 closed

[2022-01-12 19:23] GregConan opened #58 "Add to beginning of README (from review 2022-01-12)"
- Add link to DCAN Labs' modified HCP Pipeline in the first sentence of the README
- Add instructions for running the Python code directly without Singularity or Docker, or warnings that it may not work correctly?
- FreeSurfer clarification
    - Add 1 sentence saying that you do not need to download a copy of FreeSurfer (as long as you run a containerized version)
    - Remove the phrase "via a c

[2022-01-12 19:26] GregConan opened #59 "Changes to README "Options" section (from review 2022-01-12)"
# Options section / `--help` message
- Add a brief explanation of each stage listed in the `--stage` flag description
- Make `--version` number reporting a part of the default output in the log files?
- Specify that `--check-outputs-only` only checks for the outputs listed in `app/pipeline_expected_outputs.json` (and link that file)
    - For example, that file in this repo currently excludes T2s,

[2022-01-12 19:29] GregConan commented on #59
- Define what the `--bandstop` filter is, how it is implemented, etc.

[2022-01-12 19:30] GregConan opened #60 "Replace/Clarify Example in README (from review 2022-01-12)"
- Add a basic (minimal) usage example
- The current example should be moved to a new "Advanced Usage" example (and better explained), or just removed and replaced with a simpler example

[2022-01-12 19:34] GregConan commented on #59
- Change `--stage` flag to have one `begin-from`/`start` flag and a different `finish-at`/`end` flag

[2022-01-12 19:46] GregConan opened #61 "Updates to README Additional Information (from review 2022-01-12)"
- Copy-paste some of the description from the more thorough [infant pipeline documentation](https://github.com/DCAN-Labs/infant-abcd-bids-pipeline/tree/master/app)?

## Outputs subsection
- Update the output directory tree
    - E.g. `executive_summary` is now in a different place, named differently, has different contents, etc.
    - Include T2 outputs in the tree

## Rerunning subsection
- Eithe

[2022-01-31 16:16] fmriuser opened #62 "[3165] - DCAN Labs ABCD-BIDS Community Collection (ABCC) File Availability"
Hello,

I am looking to download DCAN-processed data from the NDA repository. I was wondering if these files are available for the individual subjects for download:

**T1:** sub/ses/files/MNINonLinear/T1w_restore_brain
**BOLD Image**: sub/ses/files/task-rest01/task-rest01_nonlin_norm.nii
**Motion Regressor**: sub/ses/files/MNINonLinear/Results/task-rest01/Movement_Regressors.txt
**Another File:**

[2022-01-31 23:06] iamdamion opened #63 "Change respiration filter type with docker/singularity entry point?"
Is there any existing option (using the docker/singularity image) that I am missing to change the respiration filter from notch to low pass? I see that in the DCAN bold processing script this is an argument (--motion-filter-type), but it doesn't seem accessible when using the docker/singularity image. Am I missing something?

We are trying to avoid dependency issues and would prefer to use the sin

[2022-02-02 19:24] #9 closed

[2022-02-03 18:58] GregConan opened #66 "Clarify run.py input arguments help messages"
Changes suggested to `app/run.py` during 2022-01-26 code review:

  - Line 28. Update version to 0.1.0
  - Line 89. Change the phrase "the link in the description" to the actual link https://bids.neuroimaging.io/
  - Lines 103-112. Clarify that subject and session IDs are space-separated
  - Lines 167-173. Be more specific about where the bandstop is applied in the DCANBoldProc pipeline
  - Line 1

[2022-02-03 19:03] GregConan opened #67 "Remove outdated intended run.py functionality"
Changes suggested to `app/run.py` during 2022-01-26 code review:

  - Lines 187-193. `--abcd-task` should either be deprecated or updated to match the new task pipeline
  - Lines 291-295. Remove `run_dwi` from `interface` function
    - Also, remove the line that crashes if there's dwi and no fmaps

[2022-02-03 19:25] GregConan opened #68 "Remove redundant and unneeded code from helpers.py (and a few other minor updates)"
Changes suggested to `app/helpers.py` during recent code reviews:

## Remove redundant and unneeded code (2022-01-26)

  - Lines 96-109 are redundant and can be reduced by half
  - Line 154-155. Delete everything from the `supported_fmaps` list except `epi`
  - Lines 192-253. Remove (and simplify) all of this

## Other updates (2022-02-02)

### `get_realdwelltime` function

  - Lines 291-293. Add

[2022-02-03 19:31] GregConan opened #69 "Minor fixes to clean up pipelines.py"
Changes suggested to `app/pipelines.py` during 2022-02-02 code review:

## Replace/modularize redundant code listing arguments

  - Some redundant code used by many of the classes could be replaced with a common function or something because (especially the 'spec' variable) in many of the classes reuses a lot of the same arguments
    - Specifically these functions: PreFreeSurfer (lines 684-694),

[2022-02-03 19:50] GregConan opened #70 "Major pipelines.py bugs in Stage.remove_expected_outputs and PreFreeSurfer._get_intended_sefmaps"
Changes suggested to `app/pipelines.py` during 2022-02-02 code review:

## Stage class lines 486-501

  - When running from an intermediate stage, **`remove_expected_outputs` can crash the pipeline because it won't remove files whose names have changed in the latest `DCANBoldProc` update(s)**
    - This GitHub repo's issues have 3-4 variations of the same problem where people report that the pipel

[2022-02-03 19:56] GregConan opened #71 "Remove planned-but-never-implemented pipelines.py functionality"
Changes suggested to `app/pipelines.py` during 2022-02-02 code review:

## Planned functionality to remove

### Stage class

  - Lines 476-485. `get_conditional_expected_outputs` function isn't implemented; we should probably either implement it, remove it, or explain when it will likely be implemented
  - Lines 536-51. Should these functions (which just raise [`NotImplementedError`](https://docs.

[2022-02-04 13:26] juansanchezpena opened #72 "swarm/cloud v0.1.0"
Dear all,
We have been using our local swarm to successfully run our  data with two time point acquisitions  using:

/usr/local/pipelines/sub-abcd-latest -i /MRI_DATA/nyspi/xxxx/rawdata -o /MRI_DATA/nyspi/xxxx/derivatives/abcd -l /MRI_DATA/nyspi/xxxx/derivatives/abcd/sub-xxxx.log -a " --participant-label  xxxx --all-sessions " -p  sub-xxxx**
(the raw data is sub-xxxx/ ses-xxxxxx, ses-yyyyyyyy. The

[2022-03-04 22:25] #62 closed

[2022-03-04 23:52] ericearl commented on #62
@fmriuser I just saw this with no answer.  You should try putting this question to:

https://github.com/ABCD-STUDY/nda-abcd-collection-3165/issues

Aside from that, I think what you're looking for is:

https://github.com/DCAN-Labs/nda-abcd-s3-downloader

[2022-03-31 05:05] sunlianglong opened #76 "Exception: error caught during stage: DCANBOLDProcessing"
Dear all,

when I used the ABCD-HCP pipeline to preprocess two example subjects MRI data (HCP-style MRI for one subject, with fieldmap and T2w image; non HCP-style MRI without fieldmap and T2w for another), I got the same error during the _running DCANBOLDProcessing_ step. The error is "Exception: error caught during stage: DCANBOLDProcessing". I check the logs, I find  "_FileNotFoundError: [Errno

[2022-04-08 00:17] madisoth commented on #76
Hi,

That error is a known issue in the v0.1.1 / "latest" release and we intend to have a fixed version released shortly -- apologies for the trouble.

In the meantime, the prior release (v0.1.0) should work. v0.1.1 only changed the included Matlab runtime version (which is the cause of your error), and fixed a bandstop filter bug which wouldn't affect your dataset since you are not using the filt

[2022-04-09 12:10] sunlianglong commented on #76
Hello Madison, thanks ! It worked in the prior release (v0.1.0).

Will the next release in docker hub fix this bug?

[2022-04-13 15:15] juansanchezpena opened #78 "nonlin masking error"
Dear all,
I am running dcanumn/abcd-hcp-pipeline:v0.1.0  on multi band data acquired on a GE Premiere 3T magnet. The ses-21394_task-rest_run-01_nonlin_mask.nii.gz, created during IntensityNormalization is not working for these data and causes erroneous masking  downstream in the pre processing.
![Screen Shot 2022-04-13 at 11 10 37 AM](https://user-images.githubusercontent.com/72615316/163212223-19

[2022-04-13 15:16] juansanchezpena commented on #72
This was a space issue on aws it has been resolved

[2022-04-13 15:16] #72 closed

[2022-04-18 13:28] juansanchezpena commented on #78
I found the error in acquisition.

[2022-04-18 13:28] #78 closed

[2022-05-11 15:24] jkkenley opened #79 "dataset_description.json"
I am using the following docker call to run our data through:

docker run --rm --user 1191:10 \
	-v /docker_input_2020_09_15:/bids_input:ro \
	-v /docker_output_2020_09_15:/output \
	-v /usr/local/pkg/freesurfer6.0/license.txt:/license \
	-v/subject_specific_code/subID_wcII_ABCD_BIDS_cleaning.json:/cleaning.json \
	dcanlabs/abcd-hcp-pipeline:v0.0.3 /bids_input /output --freesurfer-license=/license

[2022-05-11 19:00] arueter1 commented on #79
Hi Jeanette! Thanks for submitting your error to us. Someone from our lab will be in contact with you as soon as we are able.

[2022-05-12 23:02] madisoth commented on #79
Hi Jeanette,

My best guess is the error is unrelated to dataset_description.json and the actual problem is the "EffectiveEchoSpacing" field is missing from the fmap json files. (I believe older versions of Dcm2bids do not output EffectiveEchoSpacing, so that may be the cause.) Can you check:

1) If "EffectiveEchoSpacing" is present in the fmap directory json files
2) If the json files have infoma

[2022-05-13 13:28] jkkenley commented on #79
1.)     "BandwidthPerPixelPhaseEncode": 21.786,
    "EffectiveEchoSpacing": 0.000510012,
    "DerivedVendorReportedEchoSpacing": 0.000510012,
    "TotalReadoutTime": 0.045391,

2.)     "InPlanePhaseEncodingDirectionDICOM": "COL",
    "ConversionSoftware": "dcm2niix",
    "ConversionSoftwareVersion": "v1.0.20210317",
    "Dcm2bidsVersion": "2.1.6"

These parameters are consistet with a subject who

[2022-05-23 18:26] madisoth commented on #79
Hi Jeanette,

Apologies for the slow response. Thank you for posting that info, that rules out the EffectiveEchoSpacing issue which was my first guess.

Could you share:

1) the BIDS directory tree for the subject (removing subject and session IDs is OK)
2) the command or script used to run the pipeline

Thank you!

[2022-05-23 20:40] #58 closed

[2022-05-23 20:40] #59 closed

[2022-05-23 20:40] #60 closed

[2022-05-23 20:40] #61 closed

[2022-06-22 20:12] #50 closed

[2022-06-22 20:25] arueter1 commented on #79
@jkkenley - Were you able to send this over to Thomas? If you no longer need assistance, feel free to close this issue. :)

[2022-06-22 20:50] arueter1 commented on #76
@sunlianglong - we are checking on when the next docker hub fix is coming. More to come soon. Thanks for your patience!

[2022-06-23 14:55] jkkenley commented on #79
@Amanda ***@***.***>/Thomas

I tried sending the cleaning file several times, but it kept getting kicked back.  Trying a different approach now.
Thomas, thank you for your help.

Jeanette

The materials in this email are private and may contain Protected Health Information. If you are not the intended recipient, be advised that any unauthorized use, disclosure, copying, distribution or the taking

[2022-07-07 18:35] #19 closed

[2022-07-20 21:05] iamdamion commented on #63
No problem, I missed this message somehow myself. This isn't really an issue anymore. We were doing some testing and comparing outputs. We have been using the notch filter since, so unless you think it would be useful for others, I probably should have closed this a while back. :)

[2022-07-20 21:05] #63 closed

[2022-09-14 22:57] jarodroland commented on #79
I came across this thread while searching a similar error message. For my data, it turned out that one of my field map json files was missing the IntendedFor entry.
I was confused because when I compared my AP fmap json to a known good subject everything looked fine (similar to the above user), but my PA fmap was missing the IntendedFor entry. Once I corrected that it (so both the AP and PA fmap j

[2022-10-11 07:16] jkkenley commented on #79
Thanks so much!  I'll give this a try!

The materials in this email are private and may contain Protected Health Information. If you are not the intended recipient, be advised that any unauthorized use, disclosure, copying, distribution or the taking of any action in reliance on the contents of this information is strictly prohibited. If you have received this email in error, please immediately no

[2022-10-11 07:56] jkkenley commented on #79
Any further updates on this by chance?

The materials in this email are private and may contain Protected Health Information. If you are not the intended recipient, be advised that any unauthorized use, disclosure, copying, distribution or the taking of any action in reliance on the contents of this information is strictly prohibited. If you have received this email in error, please immediately no

[2022-10-11 15:22] lundq163 commented on #79
Hi @jkkenley, were you able to successfully provide @madisoth with what he was looking for? (the BIDS directory tree for the subject, the command or script used to run the pipeline)

[2022-11-18 18:18] mackenziemitchell opened #80 "Request for task-residualized data"
Hello,
We have been working with @ericfeczko to use Collection 3165 task fMRI data for functional connectivity. He let us know that task-residualized timeseries have been generated for the baseline year, but not processed through DCAN Bold Proc yet. I am posting here at Eric's suggestion to register a formal request for the processed task-residualized data.
Thank you!
Mackenzie

[2022-11-18 20:11] hough129 commented on #80
@mackenziemitchell
Hi Mackenzie,
When is this data needed by?
Thanks,

[2022-11-18 20:24] mackenziemitchell commented on #80
@hough129
Hi Audrey,
Mid/late January would be ideal, if possible. Eric made it seem like this was in process, but didn't give a clear estimation of when it could be completed.
Thanks!
Mackenzie